.bg {
	width: 100%;
	margin-bottom: 40px;
}

.title {
	font-size: 105px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}

.subtitle {
	margin-bottom: 40px;
	font-size: 60px;
	font-style: normal;
	font-weight: medium;
	text-align: center;
}

.catalog {
	width: 100%;
	padding: 20px 0;
	margin-bottom: 80px;
	background-color: #e2e2e2;
}

.catalogTitle {
	margin-top: 20px;
	font-size: 40px;
	font-style: normal;
	font-weight: bold;
}

.cards {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
