@import "app/styles/index";

.picker {
	:global {
		padding: 0;
		border: none;
		background: none;
		box-shadow: none;

		.ant-picker-input {
			max-width: 160px;
		}

		.ant-picker-input input {
			padding: 0;
			font-weight: 600;

			@include textXs;

			@include mediaBreakpointMd {
				@include textSm;
			}

			@include mediaBreakpointXl {
				@include textXl;
			}
		}
	}

	&.focused {
		:global {
			border: none;
			background: none;
			box-shadow: none;
		}
	}

	&:hover {
		:global {
			border: none;
			background: none;
		}
	}
}
