.headerWrapper {
	height: 50px;
	background-color: #fff;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	color: #ad304b;
	font-family: "Audiowide", sans-serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
}

.menu {
	display: flex;
	width: 1097px;
	align-items: center;
	justify-content: space-between;
}

.links {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	font-weight: 500px;
}

.item {
	margin-right: 110px;
	color: #000;
}

.btn {
	width: 106px;
	height: 50px;
	border: 1px solid #000;
	border-radius: 13px;
	background-color: #fff;
	font-size: 20px;
	font-weight: 500;
}
