.row {
	display: flex;
	gap: 18px;
}

.rating {
	display: flex;
	align-items: center;
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;
}

.stars {
	display: flex;
	align-items: center;
	margin-left: 8px;
	gap: 3px;
}

.ratingValue,
.activeStar {
	color: #ad304b;
}

.reviews {
	color: #b9b7b7;
	font-size: 22px;
	font-weight: 500;
	line-height: 26px;
}
