.label {
	margin-bottom: 12px;
	color: #878787;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}

.searchSelect {
	:global {
		width: 100%;

		.ant-select-selector {
			padding: 0 !important;
			border: none !important;
			background: none !important;
			box-shadow: none !important;
		}

		.ant-select-selection-search {
			inset-inline-start: 0 !important;
		}

		.ant-select-arrow {
			right: 0;
		}

		.ant-select-selection-item {
			padding-inline-end: 30px !important;
		}

		.ant-select-selection-item,
		.ant-select-selection-search > input {
			font-family: "Montserrat", sans-serif;
			font-size: 22px;
			font-weight: 600;
			line-height: 26px;
		}
	}
}

.arrow {
	svg {
		color: #000;
		transition-duration: 0.2s;
	}

	&.arrowUp svg {
		transform: rotate(180deg);
	}
}
