@import "app/styles/index";

.label {
	margin-bottom: 5px;
	color: $black-color;
	font-weight: 600;

	@include textXs;

	@include mediaBreakpointMd {
		margin-bottom: 10px;

		@include textSm;
	}

	@include mediaBreakpointXl {
		@include textBase;
	}
}

span.input {
	&:global > .ant-input {
		display: block;
		padding: 15px 12px;
		border-radius: 10px;
		font-weight: 500;

		@include textXs;

		@include mediaBreakpointMd {
			@include textSm;
		}

		@include mediaBreakpointXl {
			@include textBase;
		}
	}
}
