.label {
	margin-bottom: 12px;
	color: #878787;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}

.picker {
	:global {
		.ant-picker {
			padding: 0;
			background: none;
		}

		.ant-picker-input > input {
			padding: 15px 22px;

			// border: none;
			// border-radius: 30px;
			// background: var(--black-transparent-color);
			// color: var(--white-color);
			// font-family: var(--pt-font);
			// font-size: 17px;
			// font-style: normal;
			// font-weight: 600;
			// line-height: 22px;
			// text-align: center;
		}

		// .ant-picker-range-separator {
		// 	background: transparent
		// }

		// .ant-picker-separator {
		// 	display: none;
		// }

		// .ant-picker-active-bar {
		// 	display: none;
		// }

		// .ant-picker-suffix {
		// 	display: none;
		// }

		// .ant-picker-clear {
		// 	background: none;
		// 	color: var(--white-color);
		// }
	}
}
