@import "app/styles/index";

.itemsWrapper {
	display: flex;
}

.error {
	max-width: 300px;
	margin-top: 12px;
	color: $primary-color;
	font-weight: 700;

	@include textXs;

	@include mediaBreakpointMd {
		@include textSm;
	}

	@include mediaBreakpointXl {
		@include textBase;
	}
}
