@import "app/styles/index";

.sections {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.fields {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.title {
	margin-bottom: 35px;
	font-weight: 600;

	@include text-base;

	@include media-breakpoint-md {
		@include text-xl;
	}

	@include media-breakpoint-xl {
		@include text-2xl;
	}
}

.datePicker {
	:global {
		width: 100%;
		padding: 0;
		border: 1px solid;
		border-radius: 10px;

		.ant-picker-input {
			max-width: none;
		}

		.ant-picker-input input {
			padding: 15px 12px;
			font-weight: 600;

			@include text-xs;

			@include media-breakpoint-md {
				@include text-sm;
			}

			@include media-breakpoint-xl {
				@include text-base;
			}
		}
	}

	// &.focused {
	// 	:global .ant-picker-input {
	// 		border: 1px solid;
	// 		border-radius: 10px;
	// 	}
	// }

	// &:hover {
	// 	:global .ant-picker-input {
	// 		border: 1px solid;
	// 		border-radius: 10px;
	// 	}
	// }
}

.spinHidden {
	&:global(.ant-input) {
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			margin: 0;
			-webkit-appearance: none;
		}
	}
}

.button {
	width: auto;
	padding: 20px 25px;
	border-radius: 10px;
	margin-top: 50px;
}
