@import "app/styles/index";

.owner {
	display: flex;
	align-items: center;
	gap: 12px;

	@include media-breakpoint-md {
		gap: 14px;
	}

	@include media-breakpoint-xl {
		gap: 16px;
	}
}

.userInfo {
	display: flex;
	column-gap: 15px;

	@include media-breakpoint-md {
		flex-direction: column;
	}
}

.name,
.description {
	font-weight: 500;

	@include text-xs;

	@include media-breakpoint-md {
		@include text-sm;
	}

	@include media-breakpoint-xl {
		@include text-xl;
	}
}

.description {
	color: $grey-color-light;
}
