.filter {
	display: flex;
	max-width: 1100px;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	padding-left: 50px;
	border-radius: 50px;
	margin: 0 auto 55px;
	background-color: #e2e2e296;
}

.label {
	margin-bottom: 12px;
	color: #878787;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}

.searchSelect {
	:global {
		.ant-select-selector {
			font-family: "Montserrat", sans-serif;
			font-size: 22px;
			font-weight: 600;
			line-height: 26px;
		}
	}
}

.button {
	display: flex;
	width: 62px;
	height: 62px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #ad304b;
	color: #fff;
	cursor: pointer;
}
