.rent {
	padding: 35px;
	border-radius: 20px;
	background-color: #f9f7f7;
}

.title {
	color: #000;
	font-size: 34px;
	font-weight: 600;
	line-height: 46px;
}

.form {
	padding-bottom: 30px;
	border-bottom: 1px solid #b9b7b7;
}

.filters {
	display: flex;
	flex-direction: column;
	padding: 30px 0;
	gap: 15px;
}

.item {
	width: 100%;
	padding: 16px 24px;
	border-radius: 20px;
	background-color: #efeded;
}

.arrow {
	display: flex;
	width: 35px;
	height: 35px;
	align-items: center;
	justify-content: center;
	border: 1px solid #fff;
	border-radius: 50%;
}

.price {
	margin-top: 30px;
	color: #000;
	font-size: 40px;
	font-weight: 500;
	line-height: 54px;

	span {
		color: #878787;
		font-size: 22px;
		font-weight: 500;
		line-height: 30px;
	}
}
