@import "../variables.module";

@mixin error-styles {
	margin-top: 10px;
	color: $primary-color;
	font-weight: 600;

	@include text-xs;

	@include media-breakpoint-md {
		@include text-sm;
	}

	@include media-breakpoint-xl {
		@include text-base;
	}
}
