.app {
	width: 100%;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
}

.container {
	max-width: 1920px;
	padding: 55px 118px;
	margin: 0 auto;
}

div.header,
div.footer {
	padding-top: 0;
	padding-bottom: 0;
}

@media (width <= 1024px) {
	.container {
		padding: 55px 24px;
	}
}

@media (width <= 640px) {
	.container {
		padding: 55px 16px;
	}
}
