@import "app/styles/index";

.head {
	display: flex;

	@include media-breakpoint-md {
		justify-content: flex-end;
	}
}

button.button {
	border-radius: 40px;
}

.card {
	background-color: $white-color-light;
}

.actions {
	display: flex;
	margin-top: 28px;
	gap: 20px;

	& > button {
		width: 100%;

		p {
			margin-top: 5px;
		}
	}
}